<div class="my-contact-whole-container">
    <div class="my-contact-headerContent"><span class="home" routerLink="/home/contacts">Home</span>/My Contacts</div>
    <div class="my-contact-display-contact">
        <div class="my-contact-contact-container" *ngFor="let response of myContactList">
            <div class="my-contact-iconContainer"><mat-icon class="my-contact-personIcon">person_outline</mat-icon></div>
            <div class="my-contact-name">Name<span>: {{response.name}}</span></div>
            <div class="my-contact-location">Location<span>: {{response.location}}</span></div>
            <button class="my-contact-viewContact" (click)="viewMyContact(response)">View Contact</button>
            <mat-icon class="my-contact-deleteIcon" (click)="removeMyContact(response)">delete</mat-icon>
        </div>
    </div>
</div>
