.my-contact-whole-container{
    width: 1536px;
    height: 653px;
    overflow: hidden;
    .my-contact-headerContent{
        font-size: 15pt;
        font-family: Roboto;
        margin-top: 20px;
        margin-left: 185px;
        .home{
            cursor: pointer;
        }
    }
    .my-contact-display-contact{
        margin-left: 185px;
        margin-top: 20px;
        .my-contact-contact-container{
            width: 940px;
            height: 98px;
            border-radius: 10px;
            border: 1px solid #04849e;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            .my-contact-iconContainer{
                margin-left: 30px;
                margin-top: 10px;
                .my-contact-personIcon{
                    font-size: 50pt;
                    color: #04849e;
                    transform: translateY(-2px);
                }
            }
            .my-contact-name{
                font-size: 15pt;
                font-family: Roboto;
                color: #04849e;
                margin-top: -65px;
                margin-left: 120px;
                span{
                    margin-left: 18px;
                }
            }
            .my-contact-location{
                font-size: 13pt;
                margin-top: 10px;
                margin-left: 120px;
                span{
                    margin-left: 5px;
                }
            }
            .my-contact-viewContact{
                margin-right: 3px;
                border: none;
                height: 30px;
                cursor: pointer;
                font-size: 13pt;
                border-radius: 7px;
                margin-top: 1px;
                width: 940px;
            }
            .my-contact-deleteIcon{
                margin-top: -70px;
                margin-left: 850px;
                color: #04849e;
                cursor: pointer;
            }
        }
    }
}