.search-whole-container{
    width: 1536px;
    height: 653px;
    overflow: hidden;
    .search-headerContent{
        font-size: 15pt;
        font-family: Roboto;
        margin-top: 20px;
        margin-left: 185px;
        .search-home{
            cursor: pointer;
        }
    }
    .search-display-contact{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-row-gap: 60px;
        margin-left: 185px;
        margin-top: 20px;
        .search-contact-container{
            width: 250px;
            height: 200px;
            border-radius: 10px;
            border: 1px solid #04849e;
            display: flex;
            align-items: center;
            flex-direction: column;
            .search-iconContainer{
                margin-left: -73px;
                .search-personIcon{
                    font-size: 70pt;
                    color: #04849e;
                }
            }
            .search-name{
                font-size: 15pt;
                font-family: Roboto;
                color: #04849e;
            }
            .search-location{
                font-size: 13pt;
                margin-top: 10px;
            }
            .search-footer-buttons{
                margin-top: 10px;
                .search-viewContact{
                    margin-right: 3px;
                    border: none;
                    height: 30px;
                    cursor: pointer;
                }
                .search-addContact{
                    background-color: #04849e;
                    color: #fff;
                    border: none;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}