<div class="view-whole-container">
    <div class="view-headerContent"><span class="view-home" routerLink="/home/contacts">Home</span>/View Contact</div>
    <div class="view-display-contact">
        <div class="view-contact-container">
            <div class="view-iconContainer">
                <mat-icon class="view-personIcon">person_outline</mat-icon>
                <button class="view-addContact" (click)="addViewedContactToMyList()">Add Contact</button>
            </div>
            <div class="view-contact-contents">
                <div class="view-name">Name<span>: {{viewedContacts?.name}}</span></div>
                <div class="view-dateOfBirth">Date of Birth<span>: {{viewedContacts?.dateOfBirth}}</span></div>
                <div class="view-gender">Gender<span>: {{viewedContacts?.gender}}</span></div>
                <div class="view-emailId">EmailId<span>: {{viewedContacts?.emailId}}</span></div>
                <div class="view-mobileNumber">Mobile Number<span>: {{viewedContacts?.mobileNumber}}</span></div>
                <div class="view-interest">Interest<span>: {{viewedContacts?.interest}}</span></div>
                <div class="view-location">Location<span>: {{viewedContacts?.location}}</span></div>
            </div>
        </div>
    </div>
</div>