.view-whole-container{
    width: 1536px;
    height: 653px;
    overflow: hidden;
    .view-headerContent{
        font-size: 15pt;
        font-family: Roboto;
        margin-top: 20px;
        margin-left: 185px;
        .view-home{
            cursor: pointer;
        }
    }
    .view-display-contact{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-row-gap: 60px;
        margin-left: 185px;
        margin-top: 20px;
        .view-contact-container{
            width: 700px;
            height: 500px;
            border-radius: 10px;
            border: 1px solid #04849e;
            display: flex;
            .view-iconContainer{
                margin-left: 33px;
                margin-top: 3px;
                .view-personIcon{
                    font-size: 90pt;
                    color: #04849e;
                }
                .view-addContact{
                    background-color: #04849e;
                    color: #fff;
                    border: none;
                    height: 30px;
                    cursor: pointer;
                    width: 100px;
                    margin-left: -13px;
                    transform: translateY(10px);
                }
            }
            .view-contact-contents{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 60px;
                .view-name{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 87px;
                    }
                }
                .view-location{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 65px;
                    }
                }
                .view-emailId{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 75px;
                    }
                }
                .view-mobileNumber{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 3px;
                    }
                }
                .view-gender{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 77px;
                    }
                }
                .view-dateOfBirth{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 29px;
                    }
                }
                .view-interest{
                    font-size: 15pt;
                    font-family: Roboto;
                    color: #04849e;
                    margin-left: 30px;
                    span{
                        margin-left: 73px;
                    }
                }
            }
        }
    }
}