<div class="whole-container">
    <div class="headerContent"><span class="home" routerLink="/home/contacts">Home</span>/My Profile</div>
    <div class="display-contact">
        <div class="contact-container" *ngFor="let response of myProfileDetails">
            <div class="name">Name<span>: {{response.name}}</span></div>
            <div class="dateOfBirth">Date of Birth<span>: {{response.dateOfBirth}}</span></div>
            <div class="gender">Gender<span>: {{response.gender}}</span></div>
            <div class="emailId">EmailId<span>: {{response.emailId}}</span></div>
            <div class="mobileNumber">Mobile Number<span>: {{response.mobileNumber}}</span></div>
            <div class="interest">Interest<span>: {{response.interest}}</span></div>
            <div class="location">Location<span>: {{response.location}}</span></div>
        </div>
    </div>
</div>
