.my-profile-whole-container{
    width: 1536px;
    height: 653px;
    overflow: hidden;
    .my-profile-headerContent{
        font-size: 15pt;
        font-family: Roboto;
        margin-top: 20px;
        margin-left: 185px;
        .my-profile-home{
            cursor: pointer;
        }
    }
    .my-profile-display-contact{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-row-gap: 60px;
        margin-left: 185px;
        margin-top: 20px;
        .my-profile-contact-container{
            width: 550px;
            height: 500px;
            border-radius: 10px;
            border: 1px solid #04849e;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .my-profile-name{
                font-size: 15pt;
                font-family: Roboto;
                color: #04849e;
                margin-top: 15px;
                margin-left: 30px;
                span{
                    margin-left: 87px;
                }
            }
            .my-profile-location{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 65px;
                }
            }
            .my-profile-emailId{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 75px;
                }
            }
            .my-profile-mobileNumber{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 3px;
                }
            }
            .my-profile-gender{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 77px;
                }
            }
            .my-profile-dateOfBirth{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 29px;
                }
            }
            .my-profile-interest{
                font-size: 15pt;
                margin-top: 10px;
                font-family: Roboto;
                color: #04849e;
                margin-left: 30px;
                span{
                    margin-left: 73px;
                }
            }
            .my-profile-update-profile-button{
                border: none;
                height: 40px;
                cursor: pointer;
                font-size: 13pt;
            }
        }
    }
}