<div class="login-whole-container">
    <div class="login-form-content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitted()">
            <div class="login-form-head">Social Directory Application</div>
            <div class="login-row-content">
                <label class="login-emailId-lable" for="EmailId">EmailId</label>
                <input class="login-input" type="text" id="EmailId" name="EmailId" required formControlName="emailId">
            </div>
            <div class="login-row-content">
                <label class="login-password-lable" for="Password">Password</label>
                <input class="login-input" type="password" id="Password" name="Password" required formControlName="password">
            </div>
            <div class="login-row-content">
                <span class="createAccount" routerLink='/register'>Create Account</span>
                <button type="submit" class="loginButton" id="loginButton">Login</button>
            </div>
        </form>
    </div>
</div>

