.whole-container{
    width: 1536px;
    height: 653px;
    overflow: hidden;
    .headerContent{
        font-size: 15pt;
        font-family: Roboto;
        margin-top: 20px;
        margin-left: 185px;
        .home{
            cursor: pointer;
        }
    }
    .display-contact{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-row-gap: 60px;
        margin-left: 185px;
        margin-top: 20px;
        .contact-container{
            width: 250px;
            height: 200px;
            border-radius: 10px;
            border: 1px solid #04849e;
            display: flex;
            align-items: center;
            flex-direction: column;
            .iconContainer{
                margin-left: -73px;
                .personIcon{
                    font-size: 70pt;
                    color: #04849e;
                }
            }
            .name{
                font-size: 15pt;
                font-family: Roboto;
                color: #04849e;
            }
            .location{
                font-size: 13pt;
                margin-top: 10px;
            }
            .footer-buttons{
                margin-top: 10px;
                .viewContact{
                    margin-right: 3px;
                    border: none;
                    height: 30px;
                    cursor: pointer;
                }
                .addContact{
                    background-color: #04849e;
                    color: #fff;
                    border: none;
                    height: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}