<div class="my-profile-contact-container">
    <div class="my-profile-name">Name<span>: <input fxLayout="row" type="text" placeholder="Title" name="title" [(ngModel)]="name"></span></div>
    <div class="my-profile-dateOfBirth">Date of Birth<span>: <input fxLayout="row" type="date" placeholder="Title" name="date" [(ngModel)]="dateOfBirth"></span></div>
    <div class="my-profile-gender">Gender<span>: <input fxLayout="row" type="text" placeholder="Title" name="gender" [(ngModel)]="gender"></span></div>
    <div class="my-profile-emailId">EmailId<span>: <input fxLayout="row" type="text" placeholder="Title" name="emailId" [(ngModel)]="emailId"></span></div>
    <div class="my-profile-mobileNumber">Mobile Number<span>: <input fxLayout="row" type="text" placeholder="Title" name="mobileNumber" [(ngModel)]="mobileNumber"></span></div>
    <div class="my-profile-interest">Interest<span>: <input fxLayout="row" type="text" placeholder="Title" name="interest" [(ngModel)]="interest"></span></div>
    <div class="my-profile-location">Location<span>: <input fxLayout="row" type="text" placeholder="Title" name="location" [(ngModel)]="location"></span></div>
    <button class="my-profile-update-profile-button" (click)="onSubmitted()">Save</button>
</div>