/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.Error.mat-snack-bar-container{
    background-color: #04849e;
    color: #04849e;
    border-radius: 30px;
}
.Success.mat-snack-bar-container{
    background-color: #04849e;
    color: #04849e;
    border-radius: 30px;
}
