<div class="notification-whole-container">
    <div class="notification-headerContent"><span class="home" routerLink="/home/contacts">Home</span>/Notification</div>
    <div class="notification-display-contact">
        <div class="notification-contact-container" *ngFor="let response of contactList">
            <div class="notification-iconContainer"><mat-icon class="personIcon">person_outline</mat-icon></div>
            <div class="notification-name">Name<span>: {{response.name}}</span></div>
            <div class="notification-location">Location<span>: {{response.location}}</span></div>
            <button class="notification-viewContact" (click)="viewNotificationContact(response)">View Contact</button>
            <span class="notification-addedContacts">Added Your Contact</span>
        </div>
    </div>
</div>

